CoreDumpDirectory /tmp
ServerName myhome.com
ServerRoot "/usr/local/apache2"
Listen 80
Listen 8080

## Site 1 - active blocking
<VirtualHost *:80>
        DocumentRoot /var/www/html1
        <IfModule mod_perimeterx.c>
                PXEnabled On
                CookieKey my_key1
                AppID my_app_id1
                AuthToken my_auth_token1
                BlockingScore 80
                BlockPageURL /block
                ReportPageRequest On
                Captcha On
        </IfModule>
</VirtualHost>

## Site 2 - no blocking, different account parameters
<VirtualHost *:8080>
        DocumentRoot /var/www/html2
        <IfModule mod_perimeterx.c>
                PXEnabled On
                CookieKey my_key2
                AppID my_app_id2
                AuthToken my_auth_token2
                BlockingScore 101
                ReportPageRequest On
                Captcha On
        </IfModule>
</VirtualHost>