Package: libapache2-mod-perimeterx
Source: libapache-mod-perimeterx
Version: 1.0.0
Architecture: amd64
Maintainer: Eugene Aleynikov <a1j@guthub>
Installed-Size: 76
Depends: libc6 (>= 2.14), libcurl3 (>= 7.16.2), libjansson4 (>= 2.0.1), libjson-c2 (>= 0.10), libssl1.0.0 (>= 1.0.0), apache2-api-20120211
Section: non-free/web
Priority: optional
Homepage: https://github.com/PerimeterX/mod_perimeterx
Description: Apache 2 PerimeterX module
 This is a PerimeterX module for the Apache 2.x web server.  PerimeterX is bot
 detection platform for web applications, for more information please visit
 http://www.perimeterx.com/
