*.so
*.swp
*.iml
*.lo
*.la
*.slo
*.h.in~
aclocal.m4
autom4te.cache
buildaux/
config.log
config.status
configure
libtool
.deps
src/config.h
src/stamp-h1
unknown
.libs
**/*.o
*.tar.gz
scan-build
strace_out
results.log
perimeterx.conf.values
t/TEST
Makefile
.vagrant
debian/libapache2-mod-perimeterx/*
debian/files
debian/libapache2-mod-perimeterx.debhelper.log
debian/libapache2-mod-perimeterx.postinst.debhelper
debian/libapache2-mod-perimeterx.postrm.debhelper
debian/libapache2-mod-perimeterx.prerm.debhelper
debian/libapache2-mod-perimeterx.substvars
debian/libapache2-mod-perimeterx
debian/libapache2-mod-perimeterx/etc
debian/libapache2-mod-perimeterx/etc/apache2
debian/libapache2-mod-perimeterx/etc/apache2/mods-available
debian/libapache2-mod-perimeterx/etc/apache2/mods-available/perimeterx.load
debian/libapache2-mod-perimeterx/usr
debian/libapache2-mod-perimeterx/usr/share
debian/libapache2-mod-perimeterx/usr/share/doc
debian/libapache2-mod-perimeterx/usr/share/doc/libapache2-mod-perimeterx
debian/libapache2-mod-perimeterx/usr/share/doc/libapache2-mod-perimeterx/README.Debian
debian/libapache2-mod-perimeterx/usr/share/doc/libapache2-mod-perimeterx/README.md.gz
debian/libapache2-mod-perimeterx/usr/share/doc/libapache2-mod-perimeterx/copyright
debian/libapache2-mod-perimeterx.debhelper.log
debian/libapache2-mod-perimeterx.postinst.debhelper
debian/libapache2-mod-perimeterx.postrm.debhelper
debian/libapache2-mod-perimeterx.prerm.debhelper
debian/libapache2-mod-perimeterx.substvars
.idea
dev/
build/rpm/mod_perimeterx.spec
Makefile.in
config.h.in
build/build_centos.sh
build/build_ubuntu.sh
build/packages/
