Source: libapache-mod-perimeterx
Section: non-free/web
Priority: optional
Maintainer: Eugene Aleynikov <a1j@guthub>
Standards-Version: 3.9.1
Build-Depends: debhelper (>> 5.0.0), cdbs, dh-apache2, apache2-dev (>= 2.2.4), dpatch (>= 2.0.0), libtool-bin, libapr1-dev, pkg-config, libjansson-dev, libcurl4-openssl-dev, libjson-c-dev
Homepage: https://github.com/PerimeterX/mod_perimeterx

Package: libapache2-mod-perimeterx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
#Depends: libc6, libcurl3, libjansson4, libjson-c2, libssl1.0.0, apache2-api-20120211, apache2-bin
Description: Apache 2 PerimeterX module
 This is a PerimeterX module for the Apache 2.x web server.  PerimeterX is bot
 detection platform for web applications, for more information please visit
 http://www.perimeterx.com/

Package: libapache2-mod-perimeterx-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Apache 2 PerimeterX module debugging symbols
 This is a PerimeterX module for the Apache 2.x web server.  PerimeterX is bot
 detection platform for web applications, for more information please visit
 http://www.perimeterx.com/

